.section-clients {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;

    @media screen and(min-width: 480px) {
        width: 480px;
        padding: 60px 0;
    }

        @media screen and(min-width: 768px) {
            width: 768px;
        }

        @media screen and(min-width:1200px) {
            width: 1200px;
        }
}

.section-clients__title {
    text-align: center;
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: $title-text-color;
    @media screen and(min-width:1200px) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}

.client {
    display: flex;
    gap: 30px;
    justify-content: center;
    @media screen and(max-width:1199px) {
        flex-wrap: wrap;
    }
}
.client__list{
    @media screen and(max-width:479px) {
        width: calc((100% - 4 * 15px) / 2);
    }
        @media screen and(max-width:320px) {
            width: 100%;
        }
    @media screen and(min-width:480px) {
        width: calc((100% - 4 * 15px) / 2);
    }
    @media screen and(min-width:768px) {
        width: calc((100% - 6 * 15px) / 3);
    }
    
}

.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 100%;
    color: $primary-svg-color;
    border: 1px solid $primary-svg-color;
    border-radius: 4px;
    transition: color 250ms $transitionCubic,
        border-color 250ms $transitionCubic;

    &:hover,
    &:focus {
        border-color: $accent-color;
        color: $accent-color;
    }
    @media screen and(min-width: 1200px) {
        width: 170px;
    }
}

.client__icon {
    fill: currentColor;
}