.section-hero__button {
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.06em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    padding: 6px 22px;
    min-width: 73px;
    background-color: $accent-color;
    color: $primary-bgc-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    transition: color 250ms $transitionCubic,
        background-color 250ms $transitionCubic;

        &:hover, &:focus{
            background: $primary-bgc-color;
                color: $title-text-color;
        }
}

.container-hero{
    @media screen and(min-width:480px) {
            width: 480px;
            margin: 0 auto;
        }
    @media screen and(min-width:768px) {
        width: 768px;
        margin: 0 auto;
    }

    @media screen and(min-width:1200px) {
        width: 1200px;
    }
}

.section-hero {
    background: #2f303a;
    text-align: center;
    padding: 118px 0px;

        @media screen and(min-width:1200px) {
            padding: 200px 15px;
        }
}

.section-hero--overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/backround-img-mob/background-img320-mob.jpg');
    

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/backround-img-mob/background-img640-mob.jpg');
        }
    
        @media screen and (min-width: 768px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/backround-img-tablet/background-img320-tablet.jpg');
    
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url('../images/backround-img-tablet/background-img640-tablet.jpg');
            }
        }
    
        @media screen and (min-width: 1200px) {
            padding: 200px 0px;
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/backround-img-desc/background-img320-desc.jpg');
    
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url('../images/backround-img-desc/background-img640-desc.jpg');
            }
        }
    
        @media screen and (min-width: 1200px) {
           max-width: 1600px;
        }
}

.section-hero__title {
    font-weight: 900;
    line-height: 1.36;
    font-size: 26px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    color: $primary-bgc-color;
    @media screen and(min-width:768px) {
        width: 360px;
    }

    @media screen and(min-width:1200px) {
        width: 696px;
        font-size: 44px;
    }
    
}