.section-hero__button {
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.06em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    padding: 6px 22px;
    min-width: 73px;
    background-color: $accent-color;
    color: $primary-bgc-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    transition: color 250ms $transitionCubic,
        background-color 250ms $transitionCubic;

        &:hover, &:focus{
            background: $primary-bgc-color;
                color: $title-text-color;
        }
}

.section-hero {
    background: #2f303a;
    text-align: center;
    padding: 200px 0;
}

.section-hero--overlay {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/backgroundimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-hero__title {
    width: 696px;
    font-weight: 900;
    line-height: 1.36;
    font-size: 44px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    color: $primary-bgc-color;
}