.section-team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-team__title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.section-team--white {
    background: $background-color
}