.contacts-menu {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    margin-bottom: 64px;
}

.contacts-menu__link {
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.02em;
    color: $primary-text-color;
    transition: color 250ms $transitionCubic, font-size 250ms $transitionCubic;

    &:hover,
    &:focus {
        font-size: 34px;
        line-height: calc(40/34);
        letter-spacing: 0.02em;
        color: $accent-color;
    }

}