.card-set {
    @media screen and(min-width:768px) {
        display: flex;
            flex-wrap: wrap;
            margin-left: calc(-1 * $card-set-gap);
            margin-top: calc(-1 * $card-set-gap);
    }
    @media screen and(min-width:1200px) {
        display: flex;
            flex-wrap: wrap;
            margin-left: calc(-1 * $card-set-gap);
            margin-top: calc(-1 * $card-set-gap);
    }
    
}

.card-set__link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms $transitionCubic;

    &:hover, &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.card-set__item {
    border: 1px solid #eeeeee;
    background: $primary-bgc-color;
    margin-top: $card-set-gap;
    @media screen and(min-width:768px) {
        flex-basis: calc(100% / 2 - $card-set-gap);
            margin-left: $card-set-gap;
            margin-top: $card-set-gap;
    }
        @media screen and(min-width:1200px) {
            flex-basis: calc(100% / 3 - $card-set-gap);
            margin-left: $card-set-gap;
            margin-top: $card-set-gap;
        }
    
}

.card-set__thumb {
    position: relative;
    overflow: hidden;
}

.card-set__title {
    line-height: 2;

    font-size: 18px;
    letter-spacing: 0.06em;
    color: $title-text-color;

    margin-bottom: 4px;
}

.card-set__text {
    line-height: 1.88;

    letter-spacing: 0.03em;
    font-size: 16px;
    color: $primary-text-color;
}

.card-set__meta {
    padding: 20px 24px;
}

.card-set__description {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $primary-bgc-color;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform 250ms $transitionCubic;

    text-align: left;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

        .card-set__link:hover &, .card-set__link:focus &{
            transform: translateY(0%);
        }
}