.footer-info {
    text-align: left;
}

.footer-info__title {
    color: $primary-bgc-color;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}