.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms $transitionCubic,
    visibility 250ms $transitionCubic;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  min-height: 581px;
  padding: 40px;
  background-color: $primary-bgc-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms $transitionCubic,
    opacity 250ms $transitionCubic;

    .backdrop.is-hidden &{
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }

    @media screen and(max-width: 1199px) {
      width: 450px;
    }
    @media screen and(min-width:1200px) {
      width: 528px;
    }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  color: #000;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms $transitionCubic;

  &:hover, &:focus{
    fill: $accent-color;
  }
}

.modal-form__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.modal-form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primary-text-color;
}

.modal-form__input {
  height: 40px;
  margin-top: 4px;

  padding: 11px 42px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms $transitionCubic;

    .modal-form__label:focus-within &{
        border: 1px solid $accent-color;
        border-radius: 4px;
    }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: fill 250ms $transitionCubic;

    .modal-form__label:focus-within &{
        fill: $accent-color;
    }
}

.modal-form__comment {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  margin-top: 4px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms $transitionCubic;

    .modal-form__label:focus-within &{
        border: 1px solid $accent-color;
        border-radius: 4px;
    }
}

.modal-form__label--commentary {
  margin-bottom: 20px;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  @media screen and(min-width:480px) {
    font-size: 12px;
  }
  @media screen and(min-width:1200px) {
    font-size: 14px;
  }
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  fill: $primary-bgc-color;
  border: 2px solid $title-text-color;
  border-radius: 2px;

    .checkbox__input:checked + &{
        width: 16px;
        height: 15px;
        border: none;
        border-color: $accent-color;
        fill: $accent-color;
        background-origin: border-box;
    }
}

.checkbox__link {
  color: $accent-color;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-send {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.modal-send__button {
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border: transparent;
  cursor: pointer;

  color: $primary-bgc-color;
  background-color: $accent-color;

  border-radius: 4px;
  transition: box-shadow 250ms $transitionCubic;

  &:hover, &:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}