$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bgc-color: #fff;
$primary-svg-color: #afb1b8;
$background-color: #f5f4fa;
$card-set-gap: 30px;
$transitionCubic: cubic-bezier(0.4, 0, 0.2, 1);
$primary-fonts: "Roboto", sans-serif;